@use "fonts" as *;
@use "functions" as *;

.button {
  @include button-secondary;

  border-radius: vw-1600(48);
  padding: vw-1600(17) vw-1600(32);

  backdrop-filter: blur(40px);
  box-shadow:
    inset 0 0 20px 0 rgba(247, 241, 231, 0.03),
    inset 0 3px 5px 0 rgba(247, 241, 231, 0.3);
  background: rgba(255, 248, 238, 0.01);
  color: var(--3-txt);
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
  border: none;

  @media (orientation: portrait) {
    padding: 15px 32px;
    border-radius: 48px;
  }

  &:hover {
    background: var(--3-yellow);
    color: var(--3-txt-dark);
  }

  &:active {
    color: var(--3-txt-dark);
    background: var(--3-yellow-2);
  }
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: vw-1600(60);
  height: vw-1600(60);
  outline: none;
  border: none;
  backdrop-filter: blur(40px);
  box-shadow:
    inset 0 0 20px 0 rgba(247, 241, 231, 0.03),
    inset 0 3px 5px 0 rgba(247, 241, 231, 0.3);
  background: rgba(255, 248, 238, 0.01);
  color: var(--3-txt);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  svg {
    width: vw-1600(28);
    height: vw-1600(28);
  }

  @media (orientation: portrait) {
    width: 42px;
    height: 42px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    background: var(--3-yellow);
    color: var(--3-txt-dark);
  }

  &:active {
    color: var(--3-txt-dark);
    background: var(--3-yellow-2);
  }
}

.button-arrow {
  border-radius: 50%;
  width: vw-1600(50);
  height: vw-1600(50);

  backdrop-filter: blur(40px);
  box-shadow:
    inset 0 0 20px 0 rgba(247, 241, 231, 0.03),
    inset 0 3px 5px 0 rgba(247, 241, 231, 0.3);
  background: rgba(255, 248, 238, 0.01);
  color: var(--3-txt);
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;

  @media (orientation: portrait) {
    width: 50px;
    height: 50px;
  }

  svg {
    width: vw-1600(32);
    height: vw-1600(32);

    @media (orientation: portrait) {
      width: 32px;
      height: 32px;
    }
  }

  &:hover {
    background: var(--3-yellow);
    color: var(--3-txt-dark);
  }

  &:active {
    color: var(--3-txt-dark);
    background: var(--3-yellow-2);
  }
}

.button-secondary {
  @include button;

  border-radius: vw-1600(48);
  padding: vw-1600(17) vw-1600(32);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: var(--3-yellow);
  color: var(--3-txt-dark);
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  cursor: pointer;

  @media (orientation: portrait) {
    padding: 14px 32px;
    border-radius: 48px;
  }

  &.icon {
    width: vw-1600(320);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw-1600(10);
    white-space: nowrap;

    @media (orientation: portrait) {
      width: 260px;
      gap: 10px;
    }

    svg {
      width: vw-1600(26);
      height: vw-1600(26);
      color: var(--3-red);
      transition: all 0.3s ease;

      @media (orientation: portrait) {
        width: 26px;
        height: 26px;
      }
    }
  }

  &:hover {
    background: var(--3-yellow-2);
    color: var(--3-txt-dark);
  }

  &:active {
    background: var(--3-red);
    color: var(--3-txt);

    svg {
      color: var(--3-yellow);
    }
  }
}

.checkbox {
  @include body-4;

  display: flex;
  align-items: center;
  gap: vw-1600(8);
  cursor: pointer;

  max-width: vw-1600(430);

  @media (orientation: portrait) {
    gap: 8px;
    max-width: 100%;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: vw-1600(36);
    height: vw-1600(36);
    border-radius: vw-1600(8);
    border: 1px solid transparent;
    backdrop-filter: blur(40px);
    box-shadow:
      inset 0 0 20px 0 rgba(247, 241, 231, 0.03),
      inset 0 3px 5px 0 rgba(247, 241, 231, 0.3);

    @media (orientation: portrait) {
      width: 36px;
      height: 36px;
      border-radius: 8px;
    }

    &:hover {
      border: 1px solid var(--3-yellow);
    }

    svg {
      display: none;
      width: vw-1600(30);
      height: vw-1600(30);

      @media (orientation: portrait) {
        width: 30px;
        height: 30px;
      }
    }
  }

  input[type="checkbox"]:checked + .checkbox__container {
    background: var(--3-yellow);

    svg {
      display: block;
    }
  }

  &__text {
    @include body-4;
    color: var(--3-txt);
    text-decoration: none;
    max-width: vw-1600(385);

    @media (orientation: portrait) {
      max-width: 100%;
    }
  }
}
